@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');


body {
    font-family: 'Ubuntu Mono', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #fff;
}


.app-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    filter: blur(14px);
    transition: filter 0.3s ease-in; 
}

.app-container.unblurred {
    filter: blur(0);
}

.spotify-btn {
    display: inline-block;
    margin: 20px;
    padding: 12px 32px;
    font-size: 28px;
    text-align: center;
    text-decoration: none;
    background-color: #1DB954;
    color: white;
    border-radius: 14px;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.54);
    transition: background-color 0.3s ease, transform 0.3s ease;
    position: relative;
    overflow: hidden;
    border: none;
    outline: none;
    cursor: pointer;
}

.spotify-btn:active {
    background-color: #1a9347;
    transform: scale(0.98);
}

.spotify-btn::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    z-index: 1;
}